<ul>
  <li ng-repeat="match in matches">
    <h2><a href="#/matches/{{match.id}}">{{match.name}}</a></h2>

    <div ng-repeat="team in match.teams">
      <h3>{{team.name}} ({{team.goals.count}})</h3>
    </div>

    <div ng-repeat="team in match.teams">
      <h4>{{team.name}}</h4>
      <p>{{team.goals.count}} goals</p>
      <ul>
        <li ng-repeat="player in team.players">{{player.name}} {{player.total ? '(' + player.total + ' goal' + (player.total > 1 ? 's' : '') + ')': ''}}</li>
      </ul>
    </div>
  </li>
</ul>
